body {
  background: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-family: Courier, serif;
  font-size: 14px;
}

.loading {
  margin:0;
  padding:0;
  width:100%;
}

.soldier {
  width:  10px;
  height: 18px;
  margin: 0 0 -3px 0;
  background:url("../images/soldier.png");
  transition: all 1.5s ease-in-out;
  display: inline-block;
  vertical-align: top;
}

.soldier.dead {
  background:url("../images/poppy.png");
  height:12px;
  margin: 0;
}

.soldier:nth-child(3n) {
  margin-left: -1px;
}

.soldier:nth-child(7n) {
  margin-left: 1px;
}

#gathering {
  transition: all 1s ease-out;
  width: auto;
  line-height:0;
  padding:0 0.5em;
}

#gathering:after {
  clear: both;
}

.the-end {
  background-color: #333;
}

.the-end #more-info {
  color: #fff;
}

.the-end #calendar {
  color: #fff;
}

#calendar {
  font-weight: bold;
  display: block;
  width:auto;
  margin: 0;
  text-align:left;
  padding: 0.25em 0.5em;
  color: #999;
}

#calendar:after {
  clear: both;
}

.hidden {
  display:none;
}

#more-info {
  font-family: Courier, serif;
  font-weight: bold;
  font-size: 0.9em;
  margin: 8px 10px;
  max-width: 30em;
  letter-spacing: -0.05em;
  font-weight: bold;
}

.right {
  float:right;
  margin-left: 0.5em;
}

a {
  color: #ff2d00;
}

a:link: {
  color: #999;
}

a:hover {
  color: #f66;
}

a:active, a:visited {
  color: #666;
}
